<a href="https://colab.research.google.com/github/Antoneva98/portfolio/blob/main/Demographic_and_Salary_Data_Cleaning_and_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

In [19]:

# Connecting Google Drive
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
# Changing work folder
%cd /content/drive/MyDrive/colab_projects

/content/drive/MyDrive/colab_projects

In [21]:
# import CSV file
df_adult = pd.read_csv("adult.csv")
df_adult.head(10)

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
5,5,37,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,<=50K,44
6,6,49,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,16,Jamaica,<=50K,49
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
8,8,31,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States,>50K,330
9,9,42,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K,303

In [22]:
# 1.cleaning data
df_adult = df_adult[~df_adult.apply(lambda row: row.astype(str).str.contains(r'\?').any(), axis=1)]

In [23]:
df_adult.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30162 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      30162 non-null  int64
 1   age             30162 non-null  int64
 2   workclass       30162 non-null  object
 3   education       30162 non-null  object
 4   marital-status  30162 non-null  object
 5   occupation      30162 non-null  object
 6   relationship    30162 non-null  object
 7   race            30162 non-null  object
 8   sex             30162 non-null  object
 9   hours-per-week  30162 non-null  int64
 10  native-country  30162 non-null  object
 11  salary          30162 non-null  object
 12  salary K$       30162 non-null  int64
dtypes: int64(4), object(9)
memory usage: 3.2+ MB

In [24]:
# 1.2 checking data
mask_valid = (
    ((df_adult["salary"] == "<50K") & (df_adult["salary K$"] <= 50)) |
    ((df_adult["salary"] == ">50K") & (df_adult["salary K$"] >= 50))
              )
invalid_rows = df_adult[~mask_valid]

In [25]:
# 1.3 changing header
df_adult = df_adult.rename(columns=
                           {"marital-status": "marital_status",
                            "hours-per-week": "hours_per_week",
                            "native-country": "native_country",
                            }
                           )
print(df_adult.columns)

Index(['Unnamed: 0', 'age', 'workclass', 'education', 'marital_status',
       'occupation', 'relationship', 'race', 'sex', 'hours_per_week',
       'native_country', 'salary', 'salary K$'],
      dtype='object')

In [26]:
# 1.4 re‑indexing the DataFrame
df_adult = df_adult.drop(columns=["id"], errors="ignore")
df_adult = df_adult.set_index("Unnamed: 0")
df_adult.index = range(1, len(df_adult) + 1)
print(df_adult.head())

   age         workclass  education      marital_status         occupation  \
1   39         State-gov  Bachelors       Never-married       Adm-clerical
2   50  Self-emp-not-inc  Bachelors  Married-civ-spouse    Exec-managerial
3   38           Private    HS-grad            Divorced  Handlers-cleaners
4   53           Private       11th  Married-civ-spouse  Handlers-cleaners
5   28           Private  Bachelors  Married-civ-spouse     Prof-specialty

    relationship   race     sex  hours_per_week native_country salary  \
1  Not-in-family  White    Male              40  United-States  <=50K
2        Husband  White    Male              13  United-States  <=50K
3  Not-in-family  White    Male              40  United-States  <=50K
4        Husband  Black    Male              40  United-States  <=50K
5           Wife  Black  Female              40           Cuba  <=50K

   salary K$
1         39
2         35
3         27
4         43
5         25

In [27]:
df_adult.head()

,age,workclass,education,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,salary,salary K$
1,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
2,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
3,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
4,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
5,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25

In [28]:
# 2.Count m and f
df_adult["sex"].value_counts()

sex
Male      20380
Female     9782
Name: count, dtype: int64

In [29]:
# 3.avg m age
avg_male = df_adult[df_adult['sex'] == 'Male']['age'].mean()
print(avg_male)

39.18400392541707

In [30]:
# 4. Percentage people of Poland
poland_people = df_adult[df_adult["native_country"] == "Poland"].shape[0]
print(poland_people)
total_people = df_adult.shape[0]
percentage_poland = (poland_people / total_people) * 100
print(f'Percentage of people from Poland: {percentage_poland:.2f}%')

56
Percentage of people from Poland: 0.19%

In [31]:
# 5. People without education but > 50K
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
w_education = df_adult[(~df_adult["education"].isin(higher_education)) & (df_adult["salary"] == '>50K')]
print("Кількість людей без вищої освіти з >50K:", w_education.shape[0])
total_rich = df_adult[df_adult["salary"] == '>50K'].shape[0]
share = w_education.shape[0] / total_rich * 100
print(f"Частка без вищої освіти серед >50K: {share:.2f}%")

Кількість людей без вищої освіти з >50K: 3178
Частка без вищої освіти серед >50K: 42.33%

In [32]:
# 6. Age statistics for each education
grouped_by_age_education = df_adult.groupby("education")["age"].describe()
print(grouped_by_age_education)

               count       mean        std   min   25%   50%   75%   max
education
10th           820.0  37.897561  16.225795  17.0  23.0  36.0  52.0  90.0
11th          1048.0  32.363550  15.089307  17.0  18.0  28.5  43.0  90.0
12th           377.0  32.013263  14.373710  17.0  19.0  28.0  41.0  79.0
1st-4th        151.0  44.622517  14.929051  19.0  33.0  44.0  56.0  81.0
5th-6th        288.0  41.649306  14.754622  17.0  28.0  41.0  53.0  82.0
7th-8th        557.0  47.631957  15.737479  17.0  34.0  49.0  60.0  90.0
9th            455.0  40.303297  15.335754  17.0  28.0  38.0  53.0  90.0
Assoc-acdm    1008.0  37.286706  10.509755  19.0  29.0  36.0  44.0  90.0
Assoc-voc     1307.0  38.246366  11.181253  19.0  30.0  37.0  45.0  84.0
Bachelors     5044.0  38.641554  11.577566  19.0  29.0  37.0  46.0  90.0
Doctorate      375.0  47.130667  11.471727  24.0  39.0  47.0  54.0  80.0
HS-grad       9840.0  38.640955  13.067730  17.0  28.0  37.0  48.0  90.0
Masters       1627.0  43.740012  10.735356  18.0  36.0  43.0  50.0  90.0
Preschool       45.0  41.288889  15.175672  19.0  30.0  40.0  53.0  75.0
Prof-school    542.0  44.249077  11.428098  25.0  36.0  43.0  50.0  90.0
Some-college  6678.0  36.135370  13.073528  17.0  25.0  35.0  45.0  90.0

In [33]:
# 7. Compare salaries of married and unmarried men
male_df = df_adult[df_adult["sex"] == "Male"].copy()
male_df["married"] = male_df["marital_status"].str.startswith("Married")
counts = male_df[["married", "salary"]].value_counts().reset_index(name="count")
print(counts)

   married salary  count
0     True  <=50K   7052
1    False  <=50K   6932
2     True   >50K   5723
3    False   >50K    673

In [34]:
# 8. Get the maximum number of hours a person can work per week
max_hours = df_adult["hours_per_week"].max()
same_hours = df_adult["hours_per_week"] == max_hours
same_hours_count = same_hours.sum()
print(same_hours_count)

78